<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
    <h1>{{SamRunning}}</h1>
    <h2>Стол номер: {{tableId}}</h2>
    <a href="/table/get_waiter/{{tableId}}">Вызвать Офика</a>
    </center>
</body>
</html>